%header.header_area
  .main_menu
    %nav.navbar.navbar-expand-lg.navbar-light
      .container.box_1620
        %a.navbar-brand.logo_h{:href => "index.html"}
          %img{:alt => "", :src => "img/logo.png"}/
        %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        #navbarSupportedContent.collapse.navbar-collapse.offset
          %ul.nav.navbar-nav.menu_nav.justify-content-end
            %li.nav-item.active
              %a.nav-link{:href => "index.html"} Home
            %li.nav-item
              %a.nav-link{:href => "about.html"} About
            %li.nav-item
              %a.nav-link{:href => "menu.html"} Menu
            %li.nav-item
              %a.nav-link{:href => "chef.html"} Chef
            %li.nav-item.submenu.dropdown
              %a.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"} Blog
              %ul.dropdown-menu
                %li.nav-item
                  %a.nav-link{:href => "blog.html"} Blog Single
                %li.nav-item
                  %a.nav-link{:href => "blog-details.html"} Blog Details
            %li.nav-item
              %a.nav-link{:href => "contact.html"} Contact